@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "_NewAdminLayout";
}


@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Proje Ekleme</p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="Title">Başlık</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Görsel URL</label>
                        <input type="text" class="form-control" name="ImageUrl">
                    </div>
                    <div class="form-group">
                        <label>Görsel 2 URL</label>
                        <input type="text" class="form-control" name="ImageUrl2">
                    </div>
                    <div class="form-group">
                        <label>Proje URL</label>
                        <input type="text" class="form-control" name="ProjectUrl">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark" href="/Portfolio/Index">İptal</button>
                </form>
            </div>
        </div>
    </div>
}