@model EntityLayer.Concrete.Announcement
@{
    Layout = "_WriterLayout";
}

<h1>Duyuru Detayları</h1>
<br/>

<form class="form-group">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.AnnouncementId, new { @class = "form-control"})
    <br/>
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Content, 10,3, new {@class = "form-control"})
</form>

