@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "Add Service";
    Layout = "_NewAdminLayout";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    <br/>
    @Html.Label("Hizmet Başlığı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br/>
    <label>Görsel-Simge</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    //@Html.ValidationMessageFor(x=> x.ImageUrl);
    <br />
    <button class="btn btn-success">Kaydet</button>
}
