@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "Add Service";
    Layout = "_NewAdminLayout";
}
@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Yeni Deneyim Ekleme</p>
                <form class="forms-sample">
                    @Html.Label("Hizmet Başlığı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br/>
                    <label>Görsel-Simge</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ImageUrl)
                    <br/>
                    <button class="btn btn-success">Kaydet</button>
                    <a class="btn btn-outline-primary" href="/Service/Index">İptal</a>
                </form>
            </div>
        </div>
    </div>
}


