@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "_NewAdminLayout";
}

@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Deneyim Ekleme </p>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.ServiceID)
                    <br/>
                    @Html.Label("Hizmet Başlığı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br/>
                    <label>Görsel URL</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br/>
                    <button class="btn btn-outline-success">Güncelle</button>
                    <a class="btn btn-outline-primary" href="/Service/Index">İptal</a>
                </form>
            </div>
        </div>
    </div>
}