@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "EditFeature";
    Layout = "/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Feature Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    @Html.HiddenFor(x => x.FeatureID)
    <br/>
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
    <br/>
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br/>
    <br/>
    <label>Görev/Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br/>
    <button class="btn btn-success">Güncelle</button>
}

<!-- Mesaj bildirimleri hatası için _NewAdminLayout'da yorum satırına aldım -->

<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
